---
layout: default
title: Applications Supporting GitLab
description: Every application that supports Git will work with GitLab. Click here to see some of the applications & integrations we'd like to highlight.
suppress_header: true
extra_css:
  - applications.css
extra_js:
  - applications/search_bar.js
  - applications/broken_image_placeholder.js
  - applications/categories_scroller.js
  - scroll_to_top.js
---
.wrapper
  .application-container
    %h1 Our Application Partners
  .search-container
    .container
      %input.js-search-apps{ type: "search", placeholder: "Search for an application by name" }
      %span.fa.fa-search.search-apps-container-icon.search
      %span.fa.fa-times.search-apps-container-icon.reset
    %ul.suggestions
      .container.js-suggestions
  .container
    %p.application-info
      Every application that supports Git will work with GitLab. Below are some of the applications we wanted to highlight. To view the project services which are integrated into GitLab visit our <a href="https://docs.gitlab.com/ce/user/project/integrations/project_services.html">documentation page</a>. To learn more about integrating with GitLab and read how to add an application to this page, please head to our <a href="https://about.gitlab.com/integrations/">partners page</a>.
    %h2.categories-header Application categories
    .app-categories
      - data.applications.each do |category|
        .app-category
          %a{ href: "##{category.id}"}
            = partial "/images/applications/categories/#{category.id.underscore}.svg"
            %span.category-name= category.title

    .js-app-list.affix-threshold
      - data.applications.each do |category|
        %hr

        %h2.category-title.js-category-title= category.title.split.map(&:capitalize).join(' ')

        .category-applications{ id: category.id }
          - category.applications.each do |application|
            .application
              .app-image-container
                %img.app-image{ data: { src: "/images/applications/apps/#{application.title.parameterize.underscore}.png" } }
              %h3.app-title.js-application-title= application.title
              %p.app-content= application.content
              - if application.links
                - application.links.each do |app_link|
                  %a{href: app_link.url, title: app_link.title, class: 'link', target: '_blank', rel: 'noidex noopener nofollow noreferrer'}
                    = app_link.title
                  %br

      .js-scroll-to-top.scroll-to-top
        %i.fa.fa-chevron-up

%p.text-center.trademark All logos and trademarks are the property of their respective owners.

%script#js-placeholder-image{ type: 'text/template' }= partial '/images/applications/apps/placeholder.svg'
