---
layout: default
title: Contact Sales
suppress_header: true
extra_css:
  - sales-and-free-trial-common.css
  - faq.css
extra_js:
  - faq.js

---
.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1 Contact Sales
  .centered-form
    .centered-form-info
      Please contact our sales team with any questions
      about
      %a{href: "/features/#enterprise"} GitLab Enterprise Edition
      and someone will get back to you within one business day. If you need technical help, visit
      %a{href: "/getting-help/"} Getting Help

    %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
    %form#mktoForm_1415
    :javascript
      MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1415, function(form) {
        form.onSuccess(function() {
          form.getFormElem().hide();
          $('.confirmform').attr('style', 'visibility: visible');
          return false;
        });
      });
    .confirmform{style: "visibility:hidden;"}
      %h3 Submission received!
      %p We'll be in contact shortly.
    %br/
    %br/
    %p.centered-form-info.small-text{style: "text-align: center;"} If you're not able to see the form above, please email us at: sales [at] gitlab.com
    %br/
    %br/

.content-container.animated
  .container
    %h2.faq-title.light.text-center
      Frequently Asked Questions
    .faq-holder.clearfix
      - questions = data.sales_faq.questions
      - size = (questions.size / Float(2)).ceil
      - questions.each_slice(size).to_a.each do |group|
        = partial "includes/layout/question_group", locals: { group: group }
